<div class="jumbotron" style="background:url('http://www.psdgraphics.com/file/old-paper.jpg');
  border-radius: 15px;padding-left: 15px;">
  <h2> Servicios</h2>
  <p>
    En Mudante, nos capacitamos día a día para ofrecerte un servicio de calidad
    con la finalidad de llevar a la palma de tu mano las diferentes opciones
    de mundanzas en el mercado, ahorrando enormes demoras y sin que esto se convierta
    en una tarea dificil
  </p>
</div>
<div class="row ">
   <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
       <div class="db-wrapper">
           <div class="db-pricing-seven">
               <ul>
                   <li class="price">
                       <i class="glyphicon glyphicon-qrcode"></i>
                       ECONOMICO
                   </li>
                   <li>Maniobras y flete incluido.</li>
                   <li>Retiro final de desecho de empaque.</li>
                   <li>Maniobras y flete incluido.</li>
               </ul>
               <div class="pricing-footer">
                 <span class="btn btn-default btn-lg">
                   <%= link_to "BUY", caracteristicas_path(seleccion:"1"), style:"color:black"%>
                   <i class="glyphicon glyphicon-play-circle"></i>
                 </span>
               </div>
           </div>
       </div>
   </div>
   <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
       <div class="db-wrapper">
           <div class="db-pricing-seven">
               <ul>
                   <li class="price">
                       <i class="glyphicon glyphicon-indent-right"></i>
                       BASICO
                   </li>
                   <li>25 cajas de cortesía para su previo empaque.</li>
                   <li>Otorgamos 4 cajas armario para la ropa de colgar.</li>
                   <li>Volado hasta tercer piso sin costo.</li>
                   <li>Póliza de seguro de daños menores</li>
                   <li>Digital Marketing</li>
               </ul>
               <div class="pricing-footer">

                 <span class="btn btn-default btn-lg">
                   <%= link_to "BUY", caracteristicas_path(seleccion:"2"), style:"color:black"%>
                   <i class="glyphicon glyphicon-play-circle"></i>
                 </span>
               </div>
           </div>
       </div>
   </div>
   <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
       <div class="db-wrapper">
           <div class="db-pricing-seven">
               <ul>
                   <li class="price">
                       <i class="glyphicon glyphicon-list-alt"></i>
                       TODO INCLUIDO
                   </li>

                   <li>Desarme de muebles (tornillería básica y compleja)</li>
                   <li>Empaque de contenidos y preparación de muebles un día antes del traslado</li>
                   <li>Traslado de ropa de colgar sin límite.</li>
                   <li>Material de empaque ilimitado</li>
                   <li>Volado de muebles sin límite.</li>
                   <li>Desempaque y acomodo a criterio propio.</li>
               </ul>
               <div class="pricing-footer">

                 <span class="btn btn-default btn-lg">
                   <%= link_to "BUY", caracteristicas_path(seleccion:"3"), style:"color:black"%>
                   <i class="glyphicon glyphicon-play-circle"></i>
                 </span>
               </div>
           </div>
       </div>
   </div>
   <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
       <div class="db-wrapper">
           <div class="db-pricing-seven">
               <ul>
                   <li class="price">
                       <i class="glyphicon glyphicon-align-justify"></i>
                       OTROS
                   </li>

                   <li>Web Designing</li>
                   <li>Logo Assesment</li>
                   <li>Digital Marketing</li>
                   <li>Web Designing</li>
                   <li>Logo Assesment</li>
                   <li>Digital Marketing</li>
               </ul>
               <div class="pricing-footer">

                 <span class="btn btn-default btn-lg">
                   <%= link_to "BUY", caracteristicas_path(seleccion:"4"), style:"color:black"%>
                   <i class="glyphicon glyphicon-play-circle"></i>
                 </span>
               </div>
           </div>
       </div>
   </div>
 </div>
