<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="background:url('http://www.mudarte.com.uy/pluginAppObj_048/grey-background-for-site11.jpg');">
    <br>
    <div class="col-md-10">
      <h2>¿Quienes somos?</h2>
      <blockquote class="pull-right">
        <p>
          <strong>Mudate</strong> es un servicio que de forma facil y rapida te
          permite contratar mudanzas con la confianza y seriedad
          de empresas y personas profesionales.
        </p>
        <small>Expertos en Mudanzas</small>
      </blockquote>
    </div>

    <div class="col-md-12" style="text-align:center">

      <div class="col-md-6">
        <br><br>
        <h3><span class="glyphicon glyphicon-user"></span> &nbsp;Información de Contacto: </h3>
        <br>
          <div class="col-md-12">
            <div class="col-md-6">
              <span class="glyphicon glyphicon-phone" style="font-size:1.4em"></span>
              <strong style="font-size:2em">Cel: </strong>
            </div>
            <div class="col-md-6">
              <span style="font-size:2em">55 4870 1680</span>
            </div>

            <div class="col-md-6">
              <span class="glyphicon glyphicon-phone-alt" style="font-size:1.4em"></span>
              <strong style="font-size:2em">Tel: </strong>
            </div>
            <div class="col-md-6">
              <span style="font-size:2em">55 371 890</span>
            </div>

            <div class="col-md-6">
              <span class="glyphicon glyphicon-envelope" style="font-size:1.4em"></span>
              <strong style="font-size:2em">&nbsp;E- mail: </strong>
            </div>
            <div class="col-md-6">
              <span style="font-size:2em">mudate.esp@gmail.com</span>
            </div>
          </div>
      </div>
      <div class="col-md-6">
        <div class="imagen_logo">
          <%= image_tag "empresas-mudanzas.png", :alt => "Mundanza"%>
        </div>
      </div>
    </div>

  </body>
</html>
